mixin universityCard(slug,img,name,abbv,description,location,programs,students,website,price,rate)
    .uni__card
        .card__header
            img.card__picture(src=`./img/universities/${img}`)
            h3.card__title
                span= abbv
        .card__body
            h4.card__body--title=name
            p.card__body--paragraph=description 
            .card__data
                ion-icon(name="pin") 
                span=location

            .card__data
                ion-icon(name="book") 
                span=programs

            .card__data
                ion-icon(name="person") 
                span=students

            .card__data
                ion-icon(name="globe") 
                span 
                    a(href=`${website}` style='text-decoration: none;')=website
        .card__footer
            p
                span.card__footer--value #{price} KWD
                span.card__footer--text Credit Hour Price
            p.card__ratings
                span.card__footer--value=rate
                span.card__footer--text rating (5)
            a.button.button--details.button--card(href=`/universities/${slug}`) Details



