

mixin universitiesLis(id,img,name,uniId)
    li.dashboard__li
        .user__main__list
            img.user__profile(src=`/img/${img}`)

        h2.user__name=name
        .detail__button__div
            a.b1.b1__edit.b1__delete--sm(id=`details__button` data-findUni=uniId) Details


mixin reviewCard(review,img,name,createdAt,rating)
    figure.review
        blockquote.review__text=review
        figcaption.review__user
            img.review__photo(src=`img/users/${img}`)
            .review__user-box
                p.review__user-name=name
                p.review__user-date=createdAt
            .review__raitng=rating

mixin reviewsLis(uniId,title,review,img,name,createdAt,rating)
    figure.review
        .review__box
            h3.reviewview__title=title
            a.b1.b1__delete--sm(src="") Delete

        blockquote.review__text=review
        figcaption.review__user
            img.review__photo(src=`img/users/${img}`)
            .review__user-box
                p.review__user-name=name
                p.review__user-date=createdAt
            .review__rating=rating


mixin userLis(img,name,userId)

    li.dashboard__li(style="display:flex")
        .user__main__list
            img.user__profile(src=`/img/users/${img}`)

        h2.user__name=name
        .detail__button__div(style="margin-left:auto")
            a.b1.b1__delete--sm(href=`/${userId}` ) unfollow






.content
    nav.side__nav
        ul.side-nav
            li.side-nav__item.side-nav__item--active(id="menu_university")
                a.side-nav__link(id="universities" href="#")
                    ion-icon(name="school")
                    span My Universities

            li.side-nav__item(id="menu_review")
                a.side-nav__link(id="reviews" href="#")
                    ion-icon(name="contacts")
                    span My Followers

            li.side-nav__item(id="menu_user")
                a.side-nav__link(id="users" href="#")
                    ion-icon(name="settings")
                    span My settings

        .legal &copy; 2020 All rights reserved

    main.dashboard__universitiesview(id="universities__main" style="display:block;")
        h2.dashboard__settings--title Favourite Universities
        .dashboard__container
            ul.dashboard__ul
                each u,i in user.favoriteUni
                    +universitiesLis(i,u.coverImage,u.name,u.id)


    main.dashboard-view(id="university__main", style="display:none;")
        //- .gallery
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-1.jpg`)
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-2.jpg`)
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-3.jpg`)

        .overview
            h1.overview__heading University Name
            .overview__stars
                ion-icon(name="star")
            .overview__location
                ion-icon(name="pin")
                | kuwait kuwait
            .overview__rating
                .overview__rating--average 8.6
                .overview__rating--count 429 votes

        .details
            .description
                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt exercitationem, impedit veniam explicabo aliquam suscipit, repellat neque vitae incidunt qui accusamus cupiditate, quis veritatis aliquid corrupti dignissimos laboriosam fugiat.
                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquam, culpa dignissimos nam tempore praesentium dolor sunt repudiandae odit assumenda, dolorem ipsa, sapiente unde laudantium mollitia modi ipsum distinctio delectus.

                ul.list
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach
                    li.list__item Close to the beach

                .details__reviews
                    p.paragraphs Number of reviews in this university
                    span.number 456

            .dashboard__reviews
                +reviewCard("loremloreoreolroerloreloeroreo","leo","leo","23/3/2019","4.5")




    main.dashboard__reviewview(id="review__main")
        h2.dashboard__settings--title Your Friends List
        .dashboard__container
            each f in user.followers
                +userLis(f.photo,f.name,f._id)
            h5 Make connections and follow other students
            hr
            each f in user.following
                +userLis(f.photo,f.name,f._id)



    main.dashboard__userview(id="user__main")
        h2.dashboard__settings--title Your Account Settings
        .dashboard__container.dashboard__container--settings
            form.form-user-data(action="",method="post")
                .form__group__2
                    label.form__label(for="name") Your Name
                    input.form__input(id="name",type="text",required,placeholder=`${user.name}`)

                .form__group__2
                    label.form__label(for="email") email
                    input.form__input(id="email",type="email",required,placeholder=`${user.email}`)

                .form__group__2.mB
                    h4.form__label Interested In
                    .flexxx
                        .custom-select(style="width:200px")
                            select#program
                                option(value="0") Select a degree:
                                option(value="diploma") Diploma
                                option(value="bachlore") Bachlore
                                option(value="master") Master

                        .custom-select(style="width:200px")
                            select#major
                                option(value="0") Select a major:
                                option(value="ITC") Information Technology
                                option(value="business") Business
                                option(value="english") English literature

                .form__group__2.mB
                    button.button.button--details(type="submit") Save Settings 

                hr(style="margin:3rem 0;")

            form.form-user-password(action="",method="post")
                .form__group__2.mB
                    label.form__label(for="password-current") current password
                    input.form__input(id="password-current",type="password",required,placeholder="current password")

                .form__group__2.mB
                    label.form__label(for="password") password
                    input.form__input(id="password",type="password",required,placeholder="New password")

                .form__group__2.mB
                    label.form__label(for="passwordconfirm") Confirm Password
                    input.form__input(id="passwordconfirm",type="password",required,placeholder="Confirm new password")



                .form__group__2.mB
                    button.button.button--details(id="btn--save-password" type="submit") Save Password



block scripts
    script(src="./js/UI/dashboard.js")


