

mixin universitiesLis(i,img,name,uniId)
    li.dashboard__li
        .user__main__list
            img.user__profile(src=`/img/universities/${img}`)
        
        h2.user__name=name
        .detail__button__div
            a.b1.b1__edit.b1__delete--sm.details__buttons(id=`details__button-${i}` data-finduni=uniId) Details


mixin reviewCard(review,img,name,createdAt,rating)
    figure.review
        blockquote.review__text=review
        figcaption.review__user
            img.review__photo(src=`img/users/${img}`)
            .review__user-box
                p.review__user-name=name
                p.review__user-date=createdAt
            .review__raitng=rating

mixin reviewsLis(uniId,title,review,img,name,createdAt,rating)
    figure.review
        .review__box
            h3.reviewview__title=title
            a.b1.b1__delete--sm(src="") Delete

        blockquote.review__text=review
        figcaption.review__user
            img.review__photo(src=`img/users/${img}`)
            .review__user-box
                p.review__user-name=name
                p.review__user-date=createdAt
            .review__rating=rating


mixin userLis(index,img,User,userId)

    li.dashboard__li(style="display:flex;padding: 2rem;align-items: center;")
        .user__main__list
            img.user__profile(src=`/img/users/${img}`)

        a.user__name(href=`/profile/${User.id}`)=User.name
        .detail__button__div(style="margin-left:auto")
            button.b1.b1__delete--sm.unfollowBtns(id=`unfollowLink-${index}`, data-idfollower=`${User.id}`) unfollow

mixin followersLis(index,img,User,userId)

    li.dashboard__li(style="display:flex;padding: 2rem;align-items: center;")
        .user__main__list
            img.user__profile(src=`/img/users/${img}`)

        a.user__name(href=`/profile/${User.id}`)=User.name
        .detail__button__div(style="margin-left:auto")
            button.b1.b1__delete--sm.unfollowFBtns(id=`unfollowLinkF-${index}`, data-block=`${User.id}`) unfollow






.content
    nav.side__nav
        ul.side-nav
            li.side-nav__item.side-nav__item--active(id="menu_university")
                a.side-nav__link(id="universities" href="#")
                    ion-icon(name="school")
                    span My Universities

            li.side-nav__item(id="menu_review")
                a.side-nav__link(id="reviews" href="#")
                    ion-icon(name="contacts")
                    span My Followers

            li.side-nav__item(id="menu_user")
                a.side-nav__link(id="users" href="#")
                    ion-icon(name="settings")
                    span My settings

        .legal &copy; 2020 All rights reserved

    main.dashboard__universitiesview(id="universities__main" style="display:block;")
        h2.dashboard__settings--title Favourite Universities
        .dashboard__container
            ul.dashboard__ul
                each u,i in user.favoriteUni
                    +universitiesLis(i,u.coverImage,u.name,u.id)


    main.dashboard-view(id="university__main", style="display:none;")
        //- .gallery
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-1.jpg`)
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-2.jpg`)
        //-     figure.gallery__item
        //-         img.gallery__photo(src=`./img/university-3.jpg`)

        //- .overview
        //-     h1.overview__heading University Name
        //-     .overview__stars
        //-         ion-icon(name="star")
        //-     .overview__location
        //-         ion-icon(name="pin")
        //-         | kuwait kuwait
        //-     .overview__rating
        //-         .overview__rating--average 8.6
        //-         .overview__rating--count 429 votes

        //- .details
        //-     .description
        //-         p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt exercitationem, impedit veniam explicabo aliquam suscipit, repellat neque vitae incidunt qui accusamus cupiditate, quis veritatis aliquid corrupti dignissimos laboriosam fugiat.
        //-         p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquam, culpa dignissimos nam tempore praesentium dolor sunt repudiandae odit assumenda, dolorem ipsa, sapiente unde laudantium mollitia modi ipsum distinctio delectus.

        //-         ul.list
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach
        //-             li.list__item Close to the beach

        //-         .details__reviews
        //-             p.paragraphs Number of reviews in this university
        //-             span.number 456

            .dashboard__reviews
                +reviewCard("loremloreoreolroerloreloeroreo","leo","leo","23/3/2019","4.5")




    main.dashboard__reviewview(id="review__main")
        h2.dashboard__settings--title Your Friends List
        .dashboard__container
            h5 Followers
            each f,i in user.followers
                +followersLis(i,f.photo,f,f._id)
            h5 Make connections and follow other students
            hr
            h5 Following
            each f,i in user.following
                +userLis(i,f.photo,f,f._id)



    main.dashboard__userview(id="user__main")
        h2.dashboard__settings--title Your Account Settings
        .dashboard__container.dashboard__container--settings
            form.form-user-data(action="",method="post")
                .form__group__2
                    label.form__label(for="name") Your Name
                    input.form__input(id="name",type="text", value=`${user.name}` ,required,placeholder=`${user.name}`)

                .form__group__2
                    label.form__label(for="email") email
                    input.form__input(id="email",type="email",value=`${user.email}`,required,placeholder=`${user.email}`)

                .form__group__2.mB
                    h4.form__label Interested In
                    .flexxx
                        .custom-select(style="width:200px")
                            select#program
                                option(value="0") Select a degree:
                                option(value="diploma") Diploma
                                option(value="bachlore") Bachlore
                                option(value="master") Master

                        .custom-select(style="width:200px")
                            select#major
                                option(value="0") Select a major:
                                option(value="ITC") Information Technology
                                option(value="business") Business
                                option(value="english") English literature

                .form__group__2.mB.form__photo-upload
                    img.form__user-photo(src=`img/users/${user.photo}`, alt='User photo')
                    input.form__upload(id='photo', type='file', accept='image/*', name='photo')
                    label(for='photo') Choose new photo
                    
                
                .form__group__2.right
                    button.button.button--details(type="submit") Save Settings 

                hr(style="margin:3rem 0;")

            form.form-user-password(action="",method="post")
                .form__group__2.mB
                    label.form__label(for="password-current") current password
                    input.form__input(id="password-current",type="password",required,placeholder="current password" minlength='8')

                .form__group__2.mB
                    label.form__label(for="password") password
                    input.form__input(id="password",type="password",required,placeholder="New password" minlength='8')

                .form__group__2.mB
                    label.form__label(for="passwordconfirm") Confirm Password
                    input.form__input(id="passwordconfirm",type="password",required,placeholder="Confirm new password" minlength='8')



                .form__group__2.right
                    button.button.button--details(id="btn--save-password" type="submit") Save Password



block scripts
    script(src="./js/UI/dashboard.js")


