extend base

mixin commentCard(postId,commentId,img,User,comment)
    .commentList
        .comment_info
            .userphoto
                img.commentPhoto(src=`./img/users/${img}`)
            a(href=`/profile/${User.id}`)=User.name
            -if(user&& User.id == user.id)
                button.comment-delete(data-postID=`${postId}`,data-commentID=`${commentId}`) &#10008;
        .comment=comment


mixin campusCard(index,postid,postImg,postUser,postDesc,likes,commentSize,comments=[])
    .campus__card
        .campus__image
            img.campus__user(src=`../img/users/${postImg}`)


        .campus__info(style="width:100%;")
            a.campus__username(href=`/profile/${postUser.id}`)=postUser.name
            p.campus__post=postDesc
            
            .campus__buttons
                -if(user && likes.includes(user.id))
                    button.button.button--like(id=`likeButton-${index}` style='display:none' data-likeid=postid)
                        div
                            span=likes.length
                            |  like      
                            ion-icon(name="thumbs-up")
                    
                    button.button.button--dislike(id=`dislikeButton-${index}` style='display:block'  data-unlikeid=postid)
                        div
                            span=likes.length
                            |  unlike  
                            ion-icon(name="thumbs-down")
                -else 
                    button.button.button--like(id=`likeButton-${index}`  data-likeid=postid)
                        div
                            span=likes.length
                            |  like      
                            ion-icon(name="thumbs-up")
                    
                    button.button.button--dislike(id=`dislikeButton-${index}`   data-unlikeid=postid)
                        div
                            span=likes.length
                            |  unlike  
                            ion-icon(name="thumbs-down")

                button.button.button--comment(id="commentButton")
                    
                    span=commentSize
                    |  Comment  
                    ion-icon(name="chatbubbles")

            .commentSection(id=`commentSection-${index}`)
                if commentSize>0 
                    each c in comments
                      +commentCard(postid,c._id,c.user.photo,c.user,c.comment)
                -if(user)
                    form#commentPost.comment__form(action="" method="" data-unique=`${postid}`)
                        .circlePhoto
                            img(class="circle__photo" src=`./img/users/${user.photo}`)
                        input.commentInput(id=`commentText-${index}` type="text",placeholder="Write your comment")


block head 
    link(
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    )



block content
    section.campus
        .campus__grid
            .campus__grid--left
                if user
                    .flexing
                        .user__image
                            img.user__photo(src=`./img/users/${user.photo}`)
                        h3.user__name=user.name

                    .user__information
                        .user__info
                            p Reviews
                            span 23

                        .user__info
                            p Followers
                            span=user.followers.length

            .campus__grid--center
                form#campusPost.campus__form(action="", method="POST")
                    textarea.textArea(name="", cols="30", rows="10" style="padding:1rem; margin-top:-1rem; border-radius:7px; resize:none;" placeholder="Write whats on your mind")
                    button.button.button--details.button--review(type="submit" style="border-radius:7px;") Post

                hr
                each p,index in posts
                    +campusCard(index,p.id,p.user.photo,p.user,p.post,p.likes,p.comments.length,p.comments)

            .campus__grid--right
                .collapse(id="collapseExample")
                    iframe(allow="microphone;",width="300",height="430",src="https://console.dialogflow.com/api-client/demo/embedded/581d5614-e3e0-4308-a131-f77463997262")

                button.btn.btn-primary.btn-lg.btn-block(type="button",style="text-transform:uppercase; font-size:1.6rem;",data-toggle="collapse",data-target="#collapseExample",aria-expanded="false",aria-controls="collapseExample") Chatbot




block scripts
    script(
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
    )
    script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
    )
    script(
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
    )
    script(src="./js/UI/commentSection.js")
