extend base



mixin universityCard(slug,img,name,abbv,description,location,programs,students,date,price,rate)
    .uni__card
        .card__header
            img.card__picture(src=`../img/universities/${img}`)
            h3.card__title
                span= abbv
            .card__body
                h4.card__body--title=name
                p.card__body--paragraph=description 
                .card__data
                    ion-icon(name="pin") 
                    span=location

                .card__data
                    ion-icon(name="book") 
                    span=programs

                .card__data
                    ion-icon(name="person") 
                    span=students

                .card__data
                    ion-icon(name="calendar") 
                    span=date
            .card__footer
                p
                    span.card__footer--value KD #{price}
                    span.card__footer--text per year
                p.card__ratings
                    span.card__footer--value=rate
                    span.card__footer--text rating (5)
                a.button.button--details.button--card(href=`/universities/${slug}`) Details
              





block content
    header.header
        nav.nav
            .logo
                img.logo__img(src="./img/icons/logo_transparent.png", alt="Logo")
            ul.nav__items
                li.nav__elements
                    a(href="/") Home
                li.nav__elements
                    a(href="/universities") Universities
                li.nav__elements
                    a(href="/campus") Campus
                div
                .fix__login-1
                    if user
                        li.nav__elements
                            a.button.button-user(href="/dashboard" id='login')=user.name 
                                span 4
                        li.nav__elements
                               a.button.button-logout(href="#" id="logoutHome") logout
                    else
                        li.nav__elements
                            a.button.button-signup(href="/signup") Sign Up
                        li.nav__elements
                            a.button.button-login(href="/login") login

        .animated
            h1.hero__title University Matcher
            if user
                span.hero__subtitle Welcome #{user.name}
            else
                span.hero__subtitle Let's shape your future


    main
        section.uni
            if user
                h2.uni__title Universities That is recommend to you
            else
                h2.uni__title The Top Three Universities
            .uni__row
                each u in top3
                    +universityCard(u.slug,u.coverImage,u.name,u.abbrv,u.description.slice(0,20),u.address,u.programs,u.numOfStudents,'spring',u.price,u.ratingAverage)
                
               

        section.students
            h2.students__title learn More about Universities from students
            p.students__paragraph
                span Join the conversation 
                | meet many students and graduates and learn from their expirence looking for a specifec university, want to learn about the different courses it offers or how good their professor are. get into the ecampus
            
            .box__container
                .box
                    .box__img
                        img.box__img--photo( src="./img/users/aarav.jpg",alt="UserName")
                    
                    p.box__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,voluptatum praesentium? Labore, at molestiae repudiandae vero facilis ea unde voluptatum. Expedita magnam voluptates inventore provident at ipsam neque. Earum, saepe.

                .box
                    .box__img
                        img.box__img--photo( src="./img/users/leo.jpg",alt="UserName")
                
                    p.box__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,voluptatum praesentium? Labore, at molestiae repudiandae vero facilis ea unde voluptatum. Expedita magnam voluptates inventore provident at ipsam neque. Earum, saepe.

                .box
                    .box__img
                        img.box__img--photo( src="./img/users/monica.jpg",alt="UserName")
                
                    p.box__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,voluptatum praesentium? Labore, at molestiae repudiandae vero facilis ea unde voluptatum. Expedita magnam voluptates inventore provident at ipsam neque. Earum, saepe.

            .center
                a.button.button--details.center__element(href="/signup") Join Now


        section.chatbot
            h2.chatbot__title Still confused our chatbot can help you
            .chatbot__grid
                p.chatbot__paragraph
                    |Powered by dialogflow, chatbot master designed to help you to choose
                    |the best university for you. chatbot Master is smart and friendly
                    |using AI, it provides you with the help you need. all you have to do
                    |is just ask!
            
                .chatbot__image
                    iframe(allow="microphone;" width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/581d5614-e3e0-4308-a131-f77463997262")


 


block scripts
    script(src="https://code.jquery.com/jquery-3.4.1.min.js",integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(src="./js/UI/navbar.js")
    script(src="./js/UI/navDropDown.js")
    