extend base

block head
    link(
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    )


block content

    main.signup__main
        form.signup__form(id="form__login")
            //- img.mb-4.login__logo(src="./img/icons/logo_transparent.png")
            h1.signup__title Login
            .form__group__2
                label.form__label(for="inputEmail") Email addresss
                input.form__input( type="email", id="inputEmail", placeholder="you@example.com", required,autofocus)
            .form__group__2
                label.form__label(for="inputPassword") Password
                input.form__input( type="password", id="inputPassword", placeholder="••••••••", required, minlength="8")
            .form__group__2
                button.button.button--details(style="background:green;") Login
               


block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')
    script(src="./js/Forms/login.js")
    script(
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
    )
    script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
    )
    script(
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
    )